@import "tailwindcss";

/* .bg-login {
  background: #020024;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
} */

.transition-images {
  height: 100vh;
  animation: scrollUpDown 10s linear infinite alternate;
}

@keyframes scrollUpDown {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-50%);
  }
}

@layer utilities {
  .overlay-gradient-blur {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);
    backdrop-filter: blur(4px);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

.hide-scrollbar {
  scrollbar-width: none;
}

.truncate-2-custom {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 800px) {
  .truncate-2-custom-main {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.input-search::-webkit-search-cancel-button {
  display: none;
}

.button {
  --_fg: #e0e0e0;
  /* Light gray text */
  --_bg: #1e1e1e;
  --_y: -4px;
  color: var(--_fg);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  border-radius: 9999rem;
  background: var(--_bg);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button::after {
  content: attr(aria-label);
  color: var(--_bg);
  padding: 12px 48px;
  border-radius: inherit;
  background: var(--_fg);
  border: 2px solid var(--_bg);
  transform: translateY(var(--_y));
  transition: 200ms ease-out;
}

.button:hover {
  --_y: -8px;
}

.button:active {
  --_y: 2px;
}

.button:active::after {
  transition: 50ms ease-out;
}

.button:focus-visible {
  outline-color: black;
}